<div class="content-container">



  <div class="properties-container">
    <ng-container *ngFor="let property of properties.data; let i = index">
      <div class="property-card">
        <div class="preview-image">
          <img 
            [alt]="i"
            [src]="property.img_src_main"
          >

          <div class="address-area">
            <h3>{{property.address_area}}</h3>
            <p>{{property.property_card_subtitle}}</p>
          </div>
          
        </div>
        <div class="text-area">
          <h2>Property</h2>
          <div class="property-info">
            <span class="col-title">Total Offering</span>
            <span class="col-title">Project Term</span>
            <span class="col-title">Projected Annual ROI</span>
            <span class="col-val">${{property.current_value}}</span>
            <span class="col-val">{{property.total_term}}</span>
            <span class="col-val">{{property.projected_annual_returns_min}}%</span>
          </div>
          <div class="button-container">
            <button 
              class="property-button" 
              *ngIf="notAdvertisement(property.isAdvertisement)" 
              (click)="setProperty(property.property_slurp)"
              routerLink="/properties/{{property.property_slurp}}"
            >
              Invest Now
            </button>
            <button disabled class="property-button" *ngIf="notAdvertisement(!property.isAdvertisement)">
              Coming soon
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="pages-container">
    <ng-container *ngFor="let page of numbers">
      <button 
        (click)="setPagination(page)" 
        [disabled]="properties.page === page ? true : false" 
      >
        {{page}}
      </button>
    </ng-container>


  </div>

</div>