<div class="content-container">



  <div class="properties-container">
    <ng-container *ngFor="let property of properties.data; let i = index">
      <app-property-card
        [property]="property"
        [notAdvertisement]="notAdvertisement"
        [setProperty]="setProperty"
        [ngStyle]="{ 'display': 'contents'}"
        
      >
      </app-property-card>
    </ng-container>
  </div>

  <div class="pages-container">
    <ng-container *ngFor="let page of numbers">
      <button 
        (click)="setPagination(page)" 
        [disabled]="properties.page === page ? true : false" 
      >
        {{page}}
      </button>
    </ng-container>


  </div>

</div>