<div class="content-container">
  <div class="login-container">
    <div class="login-banner">
      <img class="image" src="../../assets/phone-mockup-login.png">
    </div>

    <div class="login-form-container">
      <div class="login-form">

        <h2 class="login-header">Welcome back!</h2>
        <form class="form">

          <input type="text" placeholder="email" [(ngModel)]="email" name="email" />
          <input type="password" placeholder="password" [(ngModel)]="password" name="password">
          {{email}}
          {{password}}

          <button type="submit">Login</button>


        </form>

      </div>

    </div>

  </div>





</div>