<div class="content-container">
  <div class="login-container">
    <div class="login-banner">
      <img class="image" src="../../assets/phone-mockup-login.png">
    </div>

    <div class="login-form-container">
      <div class="login-form">
        <h2 class="login-header">Welcome back!</h2>
        <form class="form">
          <div class="form__input">
            <label class="input-label">Email</label> <br />
            <input type="text" placeholder="email" [(ngModel)]="email" name="email" />
          </div>
          <div class="form__input">
            <label class="input-label">Password</label> <br />
            <input type="password" placeholder="password" [(ngModel)]="password" name="password">
          </div>
          {{email}}
          {{password}}
          <div class="submit-button">
            <button type="submit" (click)="onSubmit()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>