@import '../../../styles/styles.scss';

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem)
}

.login-container {
  display: flex;
  flex: 1;
  align-items: center;
  background: #e5e5ee;
  padding: 2rem;


  .login-banner {
    flex: 1;
    display: flex;
    justify-content: center;

    &>img {
      object-fit: contain;
      max-height: 75vh;
      max-width: 100%;
      max-width: 80%;

      @include respond(desktop) {
        max-width: 50%;
      }
    }
  }

  .login-form-container {
    flex: 1;
    overflow-wrap: break-word;
    width: 100%;
    display: flex;
    justify-content: center;

    .login-form {
      box-shadow: 3px 3px 32px rgb(0 0 0 / 19%);
      background: #fff;
      width: 100%;
      max-width: 40%;

      @media screen and (max-width: 1600px) {
        max-width: 50%;
      }

      @include respond(desktop) {
        max-width: 60%;
      }

      padding: 1.5rem 3.1875rem 1.5rem 3rem;

      .form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 4rem;
      }

      .submit-button {
        display: flex;
        justify-content: center;

        button {
          height: 2.875rem;
          border-radius: 7px;
          padding-left: 38px;
          padding-right: 38px;
          background-color: $yellow-main;
          cursor: pointer;

          &:hover {
            background-color: #fff;
          }

        }


      }
    }






  }
}


/* 

- Make into a new component later

*/


.form__input {



  .input-label {
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 0.5rem;
    display: block;
  }

  &>input {
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #f4f4f4;
    --bg-opacity: 1;
    border-radius: 1.5rem;
    height: 3rem;
    font-size: 0.875rem;
    line-height: 2;
    padding-left: 1rem;
    border: none;
  }





}