@import '../../../styles/styles.scss';

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  background: $grey-background;
}

.login-container {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2rem;

  @include respond(phone) {
    flex-direction: column;
  }


  .login-banner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;

    @include respond(phone) {
      display: none;
    }

    &>img {
      object-fit: contain;
      max-height: 75vh;
      max-width: 100%;
      max-width: 80%;


    }
  }

  .login-form-container {
    flex: 1;
    overflow-wrap: break-word;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;

    .login-form {
      box-shadow: 3px 3px 32px rgb(0 0 0 / 19%);
      background: #fff;
      width: 100%;
      max-width: 50%;
      margin-top: 3.1875rem;
      margin-bottom: 3rem;
      padding: 1.5rem 3.1875rem 1.5rem 3rem;

      @include respond(xl) {
        max-width: 70%;
      }

      @include respond(desktop) {
        max-width: 80%;
      }

      @include respond(tab-port) {
        max-width: 100%;
      }


      

      .form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
      }

      h2 {
        font-size: 3.2rem;
        line-height: 2.5rem;
        font-weight: 800;
        margin-bottom: 2rem;
        margin-top: 4rem;
        font-family: Poppins,sans-serif!important;

        @include respond(phone) {
          font-size: 2.8rem;
        }
      }

      .submit-button {
        display: flex;
        justify-content: center;

        button {
          height: 4.6rem;
          border-radius: 7px;
          padding-left: 38px;
          padding-right: 38px;
          background-color: $yellow-main;
          cursor: pointer;
          font-weight: 700;
          border: none;


          &:hover {
            box-shadow:
            1px 1px #53a7ea,
            2px 2px #53a7ea,
            3px 3px #53a7ea;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
          }

        }

      }

      .error {
        color: red;
      }
    }

  }
}

.form__input {

  .input-label {
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 0.5rem;
    display: block;

  }

  &>input {
    width: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #f4f4f4;
    --bg-opacity: 1;
    border-radius: 1.5rem;
    height: 4rem;
    font-size: 1.4rem;
    line-height: 2;
    padding-left: 1rem;
    border: none;
  }





}