@mixin respond($breakpoint) {

  @if ($breakpoint == xl) {
    @media screen and (max-width: 1536px) {
      @content;
    }
  }


  @if ($breakpoint ==desktop) {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint ==tab-land {
    @media screen and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint ==tab-port {
    @media screen and (max-width: 748px) {
      @content;
    }
  }

  @if $breakpoint ==phone {
    @media screen and (max-width: 480px) {
      @content;
    }
  }
}

@mixin removeButtonLayout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}